body {
    font-size: 1em;    
    margin: 0;
    padding: 0;
}

header {
    background-color: #8453B3;
    color: #fff;
    text-align: center;
    padding: 3.125em 0;
}

.form-container {
    width: 25em;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.25em;
    border-radius:  0.3125em;
    box-shadow: 0 0 0.625em #0000001a;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 0.625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
    /* box-sizing: border-box; */
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}